@row: 15;
@column: 15;
@stageWidth: 40%;
@stageColor: rgb(248, 244, 237);
@lineColor: #000;

.square {
  width: @stageWidth;
  padding-top: @stageWidth;
  position: relative;

  .square-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
}

#stage {
  background-color: @stageColor;

  .grid-layer {
    width: calc(100% - 100% / @row);
    height: calc(100% - 100% / @column);
    position: absolute;
    top: calc(100% / @row / 2);
    left: calc(100% / @column / 2);

    background-image: linear-gradient(to bottom, @lineColor, transparent 1px), linear-gradient(to right, @lineColor, transparent 1px);
    background-size: calc(100% / (@row - 1)) calc(100% / (@column - 1));
    background-repeat: repeat;

    border: 2px solid @lineColor;
    box-sizing: border-box;
  }

  .star-layer {
    display: flex;
    flex-wrap: wrap;

    &>div {
      display: flex;
      align-items: center;
      justify-content: center;

      &:after {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: @lineColor;
      }
    }

    @cornerWidth: 100% / (@row - 1) * 6;
    @cornerHeight: 100% / (@column - 1) * 6;

    .corner {
      width: calc(@cornerWidth);
      height: calc(@cornerHeight);
    }

    .middle {
      width: calc(100% - @cornerWidth * 2);
      height: calc(100% - @cornerHeight * 2);
    }

    .rest-mid {
      width: calc(100% - @cornerWidth * 2);
      height: calc(@cornerHeight);
    }

    .rest-side {
      width: calc(@cornerWidth);
      height: calc(100% - @cornerHeight * 2);
    }

    .rest {
      visibility: hidden;
    }
  }

  .date-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-wrap: wrap;

    .unit {
      width: calc(100% / @row);
      height: calc(100% / @column);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}